[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==42.0.5"
lxml = "==5.1.0"
pydantic = "==2.6.2"

[dev-packages]
pytest = "==8.0.2"

[requires]
python_version = "3.11"
